Package: tegia-base-source
Version: 2.0.0
Architecture: all
Maintainer: Tegia LLC <contact@tegia.ru>
Depends: tegia-node, tegia-devtools
Conflicts: tegia-base-bin
Origin: http://tegia.ru
Description: Tegia Base configuration (source code)
